.color-card {
  margin: 0px 10px;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 0.25em;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card button {
  margin-right: 0.25em;
}
